header {
  width: 100%;
  height: 80px;
  background-color: #008AFF;
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
}
        
.img-logo {
  height: 70px;
  margin: 5px 5px 5px 20px
}
        
.nome {
  height: 45px;
  margin-top: 25px;
}

.nav-header {
  margin: 15px 80px auto auto;
}
        
nav a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 5px 10px;
}
        
nav a:hover {
  background-color: #ffffff31;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
        
nav ul {
  list-style: none;
  padding: 0;
  display: flex;          
  flex-direction: row;
}

nav ul li {
  display: block;
  padding: 0 30px;
}

section{
  height: 300px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

section:last-of-type{
  margin-bottom:20px;
}


.isa, .matheus{
  background: linear-gradient(111.19deg, #E7E7E7 2.36%, #FFFFFF 98.8%);
}

.shinji, .roger{
  background: linear-gradient(111.19deg, #E7E7E7 2.36%, #FF3D00 98.8%);
}

.foto-perfil{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #e7e7e7;
}

:is(.isa, .matheus) .foto-perfil{
  border: 1px solid #FF3D00;
}

.redes-sociais{
  display: flex;
  list-style: none;
  column-gap: 25px;
  justify-content: center;
}

 .redes-sociais img{
   height:30px;
   width: 30px;
 }

 .apresentacao{
   font-size: 26px;
   max-width: 40ch;
   margin: 0 auto;

 }
footer {
  width: 100%;
  height: 40px;
  background: #008AFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top: 1px solid #FFFFFF;
  bottom: 0;
  position: fixed;
  }

.footer-frase {
  text-align: center;
  color: white;
  margin-top: 12px;
  }