body {
  width: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(180deg, #008AFF 0%, #ffffff 40%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: clamp(14px, 1.5vw, 30px);
}

section{
  height: 300px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

section:last-of-type{
  margin-bottom:20px;
}


.isa, .matheus{
  background: linear-gradient(111.19deg, #E7E7E7 2.36%, #FFFFFF 98.8%);
}

.shinji, .roger{
  background: linear-gradient(111.19deg, #E7E7E7 2.36%, #FF3D00 98.8%);
}

.foto-perfil{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #e7e7e7;
}

:is(.isa, .matheus) .foto-perfil{
  border: 1px solid #FF3D00;
}

.redes-sociais{
  display: flex;
  list-style: none;
  column-gap: 25px;
  justify-content: center;
}

 .redes-sociais img{
   height:30px;
   width: 30px;
 }

 .apresentacao{
   max-width: 40ch;
   margin: 0 auto;
 }

 footer {
  background: linear-gradient(180deg, #303030 -10%, #008AFF 40%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
