:root {
  --rotation: 0;
}

.tab {
  display: flex;
  column-gap: 10px;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  z-index: 3;
  overflow: hidden;
}

.show-tab {
  font-size: 20px;
  transition: all .3s ease-out;
}

.show-tab.invert {
  transform: rotate(180deg);
}

.options {
  display: flex;
  row-gap: 30px;
  flex-direction: column;

  width: 0;
  opacity: 0;

  padding: 15px;
  overflow-y: auto;
  pointer-events: none;
  transition: all 0.3s ease-out;
  /*  */
  font-size: 0.9rem;
}

.options.active {
  opacity: 1;
  height: 100%;
  /* width: 400px; */
  width: 330px;
  pointer-events: all;
  background: rgb(174, 222, 237);
}

.wrapper {
  height: auto;
  max-height: 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: all .3s ease-out;
}

.wrapper:nth-child(1) {
  margin-top: 20px;
}

.wrapper.active {
  max-height: 1000px;
}

.wrapper.active .content {
  opacity: 1;
  display: block;
  pointer-events: all;
}

.wrapper.active .title span {
  --rotation: 180deg;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  color: #fff;
  /* font-size: 20px; */
  font-size: 1rem;
  cursor: pointer;
  /* padding: 20px; */
  padding: 15px;
  border-radius: 15px;
  background: #28B8D8;
}

.title * {
  pointer-events: none;
}

.title .arrow {
  transform: rotate(var(--rotation));
}

.content {
  opacity: 0;
  padding: 10px;
  display: none;
  pointer-events: none;
}

.content .group {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
}

:is(.content, form) > label {
  display: block;
  margin-bottom: 5px;
}

.content :is(input, select) {
  display: inline-block;
  max-width: 200px;
  width: 200px;

  padding: 5px;

  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

:is(.content, form) > :is(input, select) {
  width: 100%;
  max-width: unset;
  margin-bottom: 10px;
}

.content input[type="checkbox"] {
  width: auto;
}

form{
  margin-bottom: 20px;
}

form button {
  background: #28b8d8;
  margin: 10px auto 0;
  padding: 5px 30px;
}

button {
  display: block;
  border: none;
  cursor: pointer;

  margin: 40px auto 10px;
  padding: 10px 20px;
  text-align: center;

  color: #fff;
  background: #4f9c44;
  border-radius: 9999px;
}

.show-tab:hover {
  background: #386f31;
}

input[type="color"] {
  display: none;
}

.pseudo-picker {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #fff;
}

.added-achievements, .added-medias{
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  
  margin: 10px 0;
  list-style: none;
}

:is(.added-achievements, .added-medias) li{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  border-radius: 10px;
  border: 2px solid #28b8d8;
}

:is(.added-achievements, .added-medias) span{
  color: red;
  cursor: pointer;
}

#removeBgBtn{
  margin: 0;
  padding: 5px 25px;
  background: #28B8D8;
}