:root {
  --rotation: 0;
  --bg: #fff;
  --linkHover: red;
  --linkColor: #fff;
  --imgBorderWidth: 0px;
  --imgBorderColor: #fff;
  --cardRadius: 15px;
  --headerImgRadius: 10px;
  --userImgRadius: 50%;
}

main {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;

  padding: 50px;
}

.options {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

.wrapper {
  height: 40px;
  width: 250px;
  max-width: 350px;

  border-radius: 10px;
  background: rgba(69, 123, 157, 0.1);
}

.wrapper.active {
  height: 400px;
}

.wrapper.active .content {
  opacity: 1;
  pointer-events: all;
}

.wrapper.active .title span {
  --rotation: 180deg;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  color: #fff;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 10px;
  background: #3f3d56;
}

.title * {
  pointer-events: none;
}

.title span {
  position: absolute;
  left: 15px;
  bottom: 50%;
  transform: translateY(50%) rotate(var(--rotation));
}

.content {
  opacity: 0;
  padding: 10px;
  pointer-events: none;
}

.content label {
  display: block;
  margin-bottom: 3px;
}

.content input {
  display: inline-block;
  width: 100%;

  padding: 5px;
  margin-bottom: 15px;

  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

button {
  display: block;

  margin: 40px auto 10px;
  padding: 10px 20px;
  text-align: center;

  color: #fff;
  background: #4f9c44;
  border-radius: 9999px;
}

button:hover {
  background: #386f31;
}

input[type="color"] {
  display: none;
}

.pseudo-picker {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

.preview{
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-size: cover;
}

.certificard {
  width: 60%;
  height: 100%;
  position: relative;

  background: var(--bg);  

  border-radius: var(--cardRadius);
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.certificard .user-photo {
  position: absolute;
  left: 50%;
  top: 0;

  width: calc(100px + var(--imgBorderWidth));
  height: calc(100px + var(--imgBorderWidth));

  object-fit: cover;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  border: var(--imgBorderWidth) solid var(--imgBorderColor);
}

.certificard .header-img {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  border-radius: var(--headerImgRadius);
}

.certificard h1 {
  text-align: center;
  margin: 10px 0 20px;
}

.container {
  padding: 20px 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  background: rgba(63, 61, 86, 0.4);
}

.container ul,
.container ol {
  list-style: none;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

a {
  font-size: 18px;
  font-weight: bold;
  padding: 2px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--linkColor);
}

a:link {
  text-decoration: none;
  color: var(--linkColor);
}

a:visited {
  color: var(--linkColor);
}

.links a:hover {
  background: var(--linkHover);
}

.social-medias ul {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.social-medias ul img {
  width: 50px;
  height: 50px;
}
