:root {
  --bgColor: #fff;
  --backgroundPadding: 50px;
  --bg: #57A3F4;
  --nameColor: black;
  --achievementTitleColor: black;
  --boxLinksVPadding: 30px;
  --boxLinksHPadding: 30px;
  --boxLinksBg: #4d7ab4;
  --boxLinksRadius: 15px;
  --linkHover: #0C6388;
  --linkColor: #fff;
  --linkBgColor: #40AFD4;
  --imgBorderWidth: 0px;
  --imgBorderColor: #fff;
  --imgSize: 100px;
  --cardRadius: 15px;
  --headerImgRadius: 50px;
  --userImgRadius: 50%;
  --boxPadding: 50px;
  --headerImageHeight: 200px;
  --nameFontSize: 32px;
  --achievementsTitleFontSize: 30px;
  --linkFontSize: 18px;
  --linkRadius: 10px;
  --linkPadding: 5px;
  --linksRowGap: 10px;
  --titleMargin: 20px;
}

*{
  outline: none;
  transition: all 250ms ease-out;
}

ul, ol{
  padding: 0;
  margin: 0;
}

a{  
    text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited{
  color: #fff;
}

main {
  display: flex;
  
  flex-grow: 1;
  position: relative;
  
  background-color: var(--bgColor);
}

.preview {
  padding: var(--backgroundPadding) 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
}

@media (min-width: 1000px) {
  .certificard.align-right {
    margin-left: 20%;
  }
}

.certificard {
  max-width: 1000px;

  position: relative;

  background: var(--bg);

  border-radius: var(--cardRadius);
  padding: var(--boxPadding);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.certificard .user-photo {
  position: absolute;
  left: 50%;
  top: 0;

  width: calc(var(--imgSize) + var(--imgBorderWidth));
  height: calc(var(--imgSize) + var(--imgBorderWidth));

  object-fit: cover;
  border-radius: var(--userImgRadius);
  transform: translate(-50%, -50%);

  border: var(--imgBorderWidth) solid var(--imgBorderColor);
}

.certificard .header-img {
  width: 100%;
  height: var(--headerImageHeight);

  max-height: 200px;
  object-fit: cover;
  border-radius: var(--headerImgRadius);
}

.certificard h1 {
  text-align: center;
  margin: 10px 0 20px;
  color: var(--nameColor);
  font-size: var(--nameFontSize);
}

.container {
  padding: var(--boxLinksVPadding) var(--boxLinksHPadding);
  margin-bottom: 10px;
  border-radius: var(--boxLinksRadius);
  background: var(--boxLinksBg);
}

.container ul,
.container ol {
  list-style: none;
}

.container h2 {
  margin: 0;
  text-align: center;
  margin-bottom: var(--titleMargin);
  color: var(--achievementTitleColor);
  font-size: var(--achievementsTitleFontSize);
}

.links ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--linksRowGap) + var(--linkPadding) * 2);
}

.project-links {
  color: var(--linkColor);
  padding: var(--linkPadding);
  font-size: var(--linkFontSize);
  background-color: var(--linkBgColor);

  font-weight: bold;
  text-decoration: none;
  border-radius: var(--linkRadius);
}

.project-links:hover {
  background: var(--linkHover);
}

.project-links:link {
  text-decoration: none;
  color: var(--linkColor);
}

.project-links:visited {
  color: var(--linkColor);
}

.social-medias ul {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.social-medias ul img {
  width: 50px;
  height: 50px;
}

.social-medias ul.black-white img{
  filter: grayscale(100%);
}

.added-medias a{
  font-weight: bold;
}