:root {
  --bgColor: #fff;
  --bg: #57A3F4;
  --nameColor: black;
  --achievementTitleColor: black;
  --boxLinksPadding: 10px;
  --boxLinksBg: #4d7ab4;
  --boxLinksRadius: 15px;
  --linkHover: #0C6388;
  --linkColor: #fff;
  --linkBgColor: #40AFD4;
  --imgBorderWidth: 0px;
  --imgBorderColor: #fff;
  --imgSize: 100px;
  --cardRadius: 15px;
  --headerImgRadius: 50px;
  --userImgRadius: 50%;
  --boxPadding: 50px;
  --headerImageHeight: 200px;
  --nameFontSize: 32px;
  --achievementsTitleFontSize: 30px;
  --linkFontSize: 18px;
}

main {
  display: flex;

  padding: 50px 0;
  flex-grow: 1;
  position: relative;
  
  background-color: var(--bgColor);
}

.preview {
  padding-top: 50px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
}

@media(min-width: 1000px){
  .certificard.align-right {
    margin-left: 20%;
  }
}

.certificard {
  max-width: 800px;

  position: relative;

  background: var(--bg);

  border-radius: var(--cardRadius);
  padding: var(--boxPadding);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.certificard .user-photo {
  position: absolute;
  left: 50%;
  top: 0;

  width: calc(var(--imgSize) + var(--imgBorderWidth));
  height: calc(var(--imgSize) + var(--imgBorderWidth));

  object-fit: cover;
  border-radius: var(--userImgRadius);
  transform: translate(-50%, -50%);

  border: var(--imgBorderWidth) solid var(--imgBorderColor);
}

.certificard .header-img {
  width: 100%;
  height: var(--headerImageHeight);

  max-height: 200px;
  object-fit: cover;
  border-radius: var(--headerImgRadius);
}

.certificard h1 {
  text-align: center;
  margin: 10px 0 20px;
  color: var(--nameColor);
  font-size: var(--nameFontSize);
}

.container {
  padding: var(--boxLinksPadding);
  margin-bottom: 10px;
  border-radius: var(--boxLinksRadius);
  background: var(--boxLinksBg);
}

.container ul,
.container ol {
  list-style: none;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: var(--achievementsTitleFontSize);
  color: var(--achievementTitleColor);
}

.links ul{
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

a {
  font-size: var(--linkFontSize);
  font-weight: bold;
  padding: 2px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--linkColor);
}

a:link {
  text-decoration: none;
  color: var(--linkColor);
}

a:visited {
  color: var(--linkColor);
}

.links a:hover {
  background: var(--linkHover);
}

.project-links {
  background-color: var(--linkBgColor);
}

.social-medias ul {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.social-medias ul img {
  width: 50px;
  height: 50px;
}

.social-medias ul.black-white img{
  filter: grayscale(100%);
}