footer {
  height: clamp(20px, 5vh, 40px);
  bottom: 0;
  padding: 20px 0 20px;

  background: linear-gradient(180deg, #303030 -10%, #008AFF 40%);
}

.footer-frase {
  text-align: center;
  color: white;
  margin: 0;
  width: 100%;
  font-size: clamp(15px, 0.8em, 20px);
}