body {
  width: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(180deg, #008AFF 0%, #ffffff 40%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: clamp(14px, 1.5vw, 30px);
}

main {
  background-color: white;
  color: #363636;
}

.opcoes {
  background-image: url("/images/backgroud-pc-branco.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 100%;
  height: 70vh;
}

.botoes {
  width: 40vw;
}

.opcoes button {
  border-radius: 5px;
  padding: auto;
  width: 20vw;
  height: 8vh;
  text-align: center;
  border: 0;
  font-size: clamp(14px, 1.5vw, 40px);
  font-family: 'Raleway', sans-serif;
  color: white;
}

.btn-criar {
  background-color: #FF3D00;
  margin: 30vh 5vw 4vh 15vw;
}

.btn-criar:hover {
  border: 2px solid black;
  background-color: #ff3c00e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-templates {
  background-color: #FF8A00;
  margin: 4vh 5vw 20vh 15vw;
}

.btn-templates:hover {
  border: 2px solid black;
  background-color: #FF8A00e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.opcoes p {
  width: 32vw;
  margin: 30vh 20vw 0 0;
}

.explicacao {
  align-items: center;
  background: linear-gradient(180deg, #eeeeee 60%, #dbdbdb 100%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  display: flex;
  padding: 10vh 10vw;
  height: 70vh;
}

h3{
  margin-top: 0;
  width: 30vw;
}

p {
  width: 30vw;
  margin-top: 5px;
}

.explicacao img {
  margin-left: 10vw;
  height: clamp(180px, 25vw, 500px);
}

.compartilhar {
  background-image: url("/images/background-compartilhar.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
  height: 80vh;
  align-items: center;
  margin: 0;
  text-align: center;
}

.compartilhar article{
  margin: auto;
  color: whitesmoke;
}

.compartilhar h3 {
  margin-top: 10vh;
  margin-bottom: 35vh;
  font-size: 2rem;
}
/* Inicio */
@media(max-width: 540px) {

  .botoes {
    width: 40vw;
    display: inline;
  }
  
  .opcoes button {
    border-radius: 5px;
    padding: 2px;
    width: 20vw;
    height: 8vh;
    text-align: center;
    border: 0;
    font-size: clamp(14px, 1.5vw, 40px);
    font-family: 'Raleway', sans-serif;
    color: white;
  }
  
  .btn-criar {
    background-color: #FF3D00;
    margin: 32vh 5vw 1vh 6vw;
  }
  
  .btn-criar:hover {
    border: 2px solid black;
    background-color: #ff3c00e5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .btn-templates {
    background-color: #FF8A00;
    margin: 1vh 5vw 0vh 6vw;
  }
  
  .btn-templates:hover {
    border: 2px solid black;
    background-color: #FF8A00e5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .opcoes p {
    width: 80vw;
    margin: 32vh 20vw 0 0;
  }
  
  .explicacao {
    align-items: center;
    background: linear-gradient(180deg, #eeeeee 60%, #dbdbdb 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    display: block;
    padding: 10vh 10vw;
    height: 70vh;
    text-align: center;
    font-size: 1rem;
  }
  
  h3{
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  p {
    width: 100%;
    padding: 0;
    margin-top: 5px;
  }
  
  .explicacao img {
    margin-top: 40px;
    height: clamp(180px, 40vw, 500px);
  }
  
  .compartilhar {
    background-image: url("/images/background-compartilhar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
  }
  
  .compartilhar article{
    margin: auto;
    color: whitesmoke;
  }
  
  .compartilhar h3 {
    margin-top: 10vh;
    margin-bottom: 35vh;
  }

  .compartilhar p {
    width: 70%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
  }
}

footer {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #303030 -20%, #008AFF 40%);
}