main {
  background-color: white;
}

section {
  height: 70vh;
}

.opcoes {
  background-image: url("../images/backgroud-pc-branco.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
}

.botoes {
  width: 40vw;
}

.opcoes button {
  width: 20vw;
  height: 8vh;

  border: 0;
  border-radius: 5px;
  text-align: center;

  color: white;
  font-size: clamp(14px, 1.5vw, 40px);
}

.opcoes button:hover {
  border: 2px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-criar {
  background-color: #ff3d00;
  margin: 30vh 5vw 0 15vw;
}

.btn-criar:hover {
  background-color: #ff3c00e5;
}

.btn-templates {
  background-color: #ff8a00;
  margin: 2vh 5vw 20vh 15vw;
}

.btn-templates:hover {
  background-color: #ff8a00e5;
}

.opcoes p {
  width: 32vw;
  margin: 30vh 20vw 0 0;
}

.explicacao {
  display: flex;
  align-items: center;

  padding: 10vh 10vw;

  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #eeeeee 60%, #dbdbdb 100%);
}

h3 {
  margin-top: 0;
  width: 30vw;
}

p {
  width: 30vw;
  margin-top: 5px;
}

.explicacao img {
  margin-left: 10vw;
  height: clamp(180px, 25vw, 500px);
}

.compartilhar {
  background-image: url("../images/background-compartilhar.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin: 0;
  text-align: center;
}

.compartilhar article {
  margin: 0 auto;
  color: whitesmoke;
}

.compartilhar h3 {
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-size: 2rem;
}

@media (max-width: 650px) {
  .explicacao,
  .compartilhar {
    height: 70vh;
  }

  .opcoes {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
  }

  .botoes {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .opcoes button {
    padding: 0 5px;
    width: clamp(40px, 32vw, 150px);
    font-size: 0.8rem;
    height: clamp(40px, 6vh, 150px);
    margin: 40px 10px 0;
    justify-content: center;
  }

  .opcoes p {
    width: 70vw;
    margin: 15vh auto 0;
  }

  .explicacao {
    display: block;
    text-align: center;
    font-size: 1rem;
  }
  
  .explicacao img {
    margin: 10px auto 0;
    height: clamp(180px, 40vw, 500px);
  }

  h3,
  .compartilhar h3 {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
  }

  p {
    width: 100%;
    padding: 0;
  }  

  .compartilhar {
    font-size: 1.2rem;
  }

  .compartilhar p {
    width: 70%;
    padding: 10px;
    margin: 0 auto;
  }
}

footer {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #303030 -20%, #008aff 40%);
}
