header {
  width: 100%;
  height: 80px;
  background-color: #008AFF;
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
}
        
.img-logo {
  height: 70px;
  margin: 5px 5px 5px 20px
}
        
.nome {
  height: 45px;
  margin-top: 25px;
}

.nav-header {
  margin: 15px 80px auto auto;
}
        
nav a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 5px 10px;
}
        
nav a:hover {
  background-color: #ffffff31;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
        
nav ul {
  list-style: none;
  padding: 0;
  display: flex;          
  flex-direction: row;
}

nav ul li {
  display: block;
  padding: 0 30px;
}

body{
    margin: 0;
    width: 100%;
    background: linear-gradient(111.19deg, #E7E7E7 2.36%, #FFFFFF 98.8%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}


.txt-principal {
  position: absolute;
  width: 435px;
  height: 134px;
  left: 10vw;
  top: 210px;
    
  font-family: Roboto;
  font-size: 32px;
  line-height: 41px;
    
  color: #1F1F1F;
}

.buttons {
    position: absolute;
    width: 380px;
    height: 170px;
    left: 10vw;
    top: 378px;
    
    border: 1px dashed #0074D6;
    box-sizing: border-box;
    border-radius: 5px;  
}

.btnCriar {
    position: absolute;
    width: 331px;
    height: 56px;
    left: 20px;
    top: 20px;

    text-align: center;
    

    background: #FF3D00;

    position: absolute;
}

.btnEscolher {
    position: absolute;
    width: 331px;
    height: 56px;
    left: 20px;
    bottom: 20px;

    text-align: center;
    

    background: #FF8A00;
}

a:visited {
  text-decoration: none;
}

p{
    left: 11.46%;
    right: 73%;
    top: 64.92%;
    bottom: 32.56%;

    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.img {
    position: absolute;
    width: 611px;
    height: 495px;
    left: calc(50% - 611px/2 + 236.5px);
    top: 135px;

}

footer {
    width: 100%;
    height: 40px;
    background: #008AFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 1px solid #FFFFFF;
    bottom: 0;
    position: fixed;
    }

.footer-frase {
    text-align: center;
    color: white;
    margin-top: 12px;
    }