* {
  margin: 0;
  box-sizing: border-box;
}

.ham {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.xIcon {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
  transform: translateY(-100%);
  transition: transform 0.2s;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

li {
  padding: 1rem 0;
}

.menuLink {
  display: inline;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.menuLink:hover {
  text-decoration: underline;
}
