header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 7.5vh;
  width: auto;
  margin: auto 10px;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  padding: 1vh 1.5vw;
  color: white !important;
  font-size: clamp(15px, 1.4vw, 30px);
}

nav a:hover {
  background-color: #ffffff31;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ul li {  
  padding: 0 2.5vw;
}

/* Menu-hamburguer */

label[for="bt-menu"] {
  position: fixed;
  z-index: 100;
  top: 0.5rem;
  right: 1rem;
  padding: 0.5rem;
  border: 0;
  background-color: #0088ff70;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;

  display: none;
}

.label:hover {
  background-color: #008AFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#bt-menu {
  display: none;
}

@media (max-width: 800px) {
  label[for="bt-menu"] {
    display: block;
  }

  .nav-header {
    transform: translateY(-200%);
  }

  nav ul {
    flex-direction: column;
  }

  .nav-header ul li {
    padding: 10% 0;
  }

  #bt-menu:checked ~ .nav-header {
    transform: translateY(0);

    display: block;
    position: fixed; 
    top: 0;   
    right: 0;        

    z-index: 5;
    text-align: right;
    padding: 2%;
    padding-top: 10%;
    
    transition: transform 0.4s;    
    border-radius: 0px 0px 0px 8px;    
    background: linear-gradient(180deg, #008aff 0%, #3ca3fd 100%);
  }
}
