* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  transition: all 250ms ease-out;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #008AFF 0%, #ffffff 40%);

  min-height: 100vh;
}

input,
textarea,
select,
button {
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  cursor: pointer;
}
