.conteudo {
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
  background-color: #eeeeee;
  width: 90vw;
  margin: 10px auto auto;
  border-radius: 5px;
  justify-content: center;
  box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
}
 
.template {
  display: flex;
  column-gap: 10px;

  margin: 3%;
  padding: 1%;
  height: 160px;  
  width: clamp(400px, 40%, 800px);

  border-radius: 5px;
  border: 2px solid #aaaaaa;
  background-color: #bbbbbb7a;
  box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
}

.template:hover {
  border-color: black;
  background-color: #e4e4e4;
}

.template div {
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;
}

h4{
  margin-top: 0;
  margin-bottom: 0;
  color: #FF3D00;
}

p {
  margin-top: 5px;
  color: #363636;
  font-size: 1rem;
}

.template img {
  width: 35%;
  object-fit: cover;
  border-radius: 10px;
}

@media(max-width: 1060px) {
  .template {
    width: 90%;    
  }

  .template div {
    margin: auto;
    width: 700px;
  }

  .template img {
    width: 40%;    
  }

  p {
    font-size: clamp(10px, 1rem, 3vw);
  }
}