body {
  width: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(180deg, #008AFF 0%, #eeeeee 30%, #eeeeee 70%, #008AFF 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: clamp(14px, 1.5vw, 30px);
  color: #363636;
}


main {
  display: block;
}

.conteudo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: #eeeeee;
  width: 90vw;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
}

.template {
  display: flex;
  background-color: #bbbbbb7a;
  border: 2px solid #aaaaaa;
  width: clamp(400px, 40%, 800px);
  padding: 1%;
  margin: 3%;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
}

.template div {
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;
}

h4{
  margin-top: 0;
  color: #FF3D00;
}

p {
  margin-top: 5px;
}

.template img {
  width: 35%;
}

.template:hover {
  background-color: #e4e4e4;
  border: 2px solid black;
}
  